@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap");
* {
  margin: 0;
  padding: 0;
}
nav {
  background-image: url(./assets/nav-bg-sp.svg);
  height: 88vh;
  width: 18vw;
  color: white;
  background-size: cover;
}
nav > img {
  width: 60%;
  height: 10%;
  margin-top: 4%;
  margin-bottom: 4%;
  margin-left: 5%;
}
#div-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 17%;
  margin-bottom: 8%;
}
#home {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30%;
  background-color: #282828;
  border-radius: 6px;
  margin-bottom: 10px;
}
#home > img {
  height: 70%;
  width: 22%;
}
#home > p {
  font-family: DM Sans;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
}
#search {
  display: flex;
  align-items: center;
  width: 100%;
  height: 25%;
  margin-bottom: 10px;
}

#search > img {
  height: 70%;
  width: 24%;
}
#search > p {
  font-family: DM Sans;
  font-size: 19px;
  font-weight: 700;
}
#library {
  display: flex;
  align-items: center;
  width: 100%;
  height: 25%;
  margin-bottom: 25px;
}
#library > img {
  height: 70%;
  width: 24%;
}
#library > p {
  font-family: DM Sans;
  font-size: 19px;
  font-weight: 700;
}

.div-2 {
  width: 100%;
  height: 17%;
  margin-bottom: 10%;
}
.icon-create {
  display: flex;
  align-items: center;
  width: 100%;
  height: 25%;
}

.icon-create > #create-playlist {
  height: 70%;
  width: 10%;
  background-image: url(./assets/create-playlist-bg-sp.svg);
  background-size: cover;
  margin-inline: 18px;
}
.icon-create > p {
  color: #fff;
  font-family: DM Sans;
  font-size: 19px;
  font-weight: 700;
}
.icon-liked {
  display: flex;
  align-items: center;
  width: 100%;
  height: 25%;
  margin-top: 25px;
}
.icon-liked > p {
  color: #fff;
  font-family: DM Sans;
  font-size: 19px;
  font-weight: 700;
}
.icon-episode {
  display: flex;
  align-items: center;
  width: 100%;
  height: 25%;
  margin-top: 25px;
}
.icon-episode > p {
  color: #fff;
  font-family: DM Sans;
  font-size: 19px;
  font-weight: 700;
}
.icon-liked > #liked-songs {
  height: 70%;
  width: 10%;
  background-image: url(./assets/like-bg-sp.svg);
  background-size: cover;
  margin-inline: 18px;
}
.icon-episode > #episode {
  height: 70%;
  width: 10%;
  background-image: url(./assets/episode-bg-sp.svg);
  background-size: cover;
  margin-inline: 18px;
}
.div-3 {
  width: 100%;
  height: 27%;
  margin-bottom: 5%;
}
.div-3 > p {
  color: #fff;
  font-family: DM Sans;
  font-size: 19px;
  font-weight: 700;
  margin-inline: 18px;
  margin-bottom: 20px;
}
.div-4 {
  width: 40%;
  height: 12%;
  display: flex;
  align-items: center;
}
.div-4 > img {
  width: 35%;
  height: 35%;
  padding: 5px;
}
.div-4 > p {
  color: #fff;
  font-family: DM Sans;
  font-size: 19px;
  font-weight: 700;
}
